[defaults]
host_key_checking = False
inventory = /ansible/inventory/hosts.ini
retry_files_enabled = False
callbacks_enabled = ansible.builtin.default
bin_ansible_callbacks = True
deprecation_warnings = False
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
